.cardSelected {
  border: 4px solid green;
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(100 0 0 / 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
/* .carcontainer{
    display : flex ;
    gap: 15px;
} */

.card:hover {
  border: 2px solid darkgreen;
}
.orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order {
  border: 3px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.order-info {
  display: flex;
  gap: 300px;
}
